.Quote {
  border: 1px solid #ececec;
  margin: 8px;
  width: 250px;
  height: 150px;
  padding: 20px;
  text-align: left;
}

.Quote h1 {
  padding: 0;
  margin: 0;
}

.NegativeChange {
  color: red;
}

.PositiveChange {
  color: green;
}
