.Search {
  padding: 20px;
}

.SearchInput {
  border: 0px;
  background: #ececec;
  color: black;
  font-size: 30px;
  font-weight: bold;
  outline: 0px;
  padding: 20px 30px;
  width: 400px;
}

.SearchInput::placeholder {
  color: #969696;
}
