.SearchResults {
  list-style: none;
  margin: 0 auto;
  padding: 5px 0;
  text-align: left;
  width: 460px;
}

.SearchResultsItem {
  color: black;
  padding: 5px 30px;
}

.SearchResultsItem:hover {
  text-decoration: underline;
}
